/*------------------------
	font icons
-------------------------*/

.im-icon.im-basket-simple:before {
  content: "\ea02";
}

.im-icon.im-my-account:before {
  content: "\ea03";
}

.im-icon.im-circle-add:before {
  content: "\ea04";
}

.im-icon.im-heart:before {
  content: "\ea05";
}

.im-icon.im-phone:before {
  content: "\ea06";
}

.im-icon.im-tick:before {
  content: "\ea07";
}

.im-icon.im-delivery:before {
  content: "\ea08";
}

.im-icon.im-search:before {
  content: "\ea09";
}

.im-icon.im-star:before {
  content: "\ea0a";
}

.im-icon.im-menu:before {
  content: "\ea0b";
}