/* --------------------------------

imcomm Web Font - nucleoapp.com/
License - nucleoapp.com/license/

-------------------------------- */


@font-face {
  font-family: 'imcomm';
  src: url('#{$im-font-path}/imcomm.eot');
  src: url('#{$im-font-path}/imcomm.eot') format('embedded-opentype'),
    url('#{$im-font-path}/imcomm.woff2') format('woff2'),
    url('#{$im-font-path}/imcomm.woff') format('woff'),
    url('#{$im-font-path}/imcomm.ttf') format('truetype'),
    url('#{$im-font-path}/imcomm.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/

.im-icon {
  display: inline-block;
  font: normal normal normal #{$im-font-size-base}/1 'imcomm';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*------------------------
  change icon size
-------------------------*/

.im-icon.lg {
	font-size: 1.33333333em;
  	vertical-align: -16%;
}

.im-icon.x2 {
	font-size: 2em;
}

.im-icon.x3 {
	font-size: 3em;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/
.im-icon.square,
.im-icon.circle {
  padding: $im-padding-width;
  vertical-align: -16%;
  background-color: $im-background-color;
}

.im-icon.circle {
  border-radius: 50%;
}

/*------------------------
  list icons
-------------------------*/

.#{$im-css-prefix}-ul {
  padding-left: 0;
  margin-left: $im-li-width;
  list-style-type: none;

  > li {
    position: relative;
  }

  > li > .im-icon {
    position: absolute;
    left: -$im-li-width/2 - 0.5em;
    top: (2em / 14);
    text-align: center;

    &.lg {
      top: 0;
      left: -$im-li-width/2 - (4em / 14);
    }

    &.circle,
    &.square {
      top: (2em / 14) - $im-padding-width;
      left: -$im-li-width/2 - 0.5em - $im-padding-width;
    }
  }
}

/*------------------------
  spinning icons
-------------------------*/

.im-icon.spin {
  -webkit-animation: im-icon-spin 2s infinite linear;
  -moz-animation: im-icon-spin 2s infinite linear;
  animation: im-icon-spin 2s infinite linear;
}

@-webkit-keyframes im-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes im-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes im-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/

.im-icon.rotate-90  {
	@include im-rotate(90deg, 1);
}

.im-icon.rotate-180 {
	@include im-rotate(180deg, 2);
}

.im-icon.rotate-270 {
	@include im-rotate(270deg, 3);
}

.im-icon.flip-y {
	@include im-flip(-1, 1, 0);
}
.im-icon.flip-x {
	@include im-flip(1, -1, 2);
}

@import "icons";
