html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	/* you need to set this to assign to the main element a min height of 100% */
	height: 100%;
	font-size: 100%;
	margin: 0 !important;

}

body {
	font: {
		family: $font-primary; 
	}
	color: $text;
	font-weight: 300;
	overflow-x: hidden;
}

ul {
	margin-bottom: 0;
}

// Brand colours

.primary-bg {
	background: $brand-primary;
	color: #fff;
}
.sec-bg {
	background: $secondary;
	color: #fff;
}
.red {
	background-color: $red;
}
.green {
	background-color: $green;
}
.amber {
	background-color: $amber;
}

a {
	color: $brand-primary;
	&:hover {
		text-decoration: none;
	}
}