// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colours

$brand-primary: #415390;
$secondary: darken($brand-primary, 20%);

$text: #222;

$grey: #e1e1e1;
$lightgrey: #f7f8f9;
$darkgrey: #555;

$red: #ea525b;
$green: #1fab6e;
$amber: #ffcc52;

// Fonts

$font-primary: 'Roboto', sans-serif;
$font-sec: 'Montserrat', sans-serif;

// Spacing

$smlspace: 1rem 0;
$midspace: 2rem 0;
$lgspace: 3rem 0;
$hgspace: 4rem 0;

// Transitions

$bezier: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
$ease: all ease-in-out 0.9s;


// Icon specific

$im-font-path:        "../fonts" !default;
$im-font-size-base:   14px !default;
$im-css-prefix:       im-icon !default;
$im-background-color: #eee !default;
$im-li-width:         (30em / 14) !default;
$im-padding-width:    (1em/3) !default;

