$brand-primary: #29abe1;
$secondary: darken($brand-primary, 10%);

$text: #222;

$grey: #aaa;
$lightgrey: #f7f8f9;
$darkgrey: #777;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-primary: 'Roboto', sans-serif;
$font-sec: 'Montserrat', sans-serif;

body {
	font-family: $font-primary !important;
	font-weight: 500 !important;

}
#adminmenuback, #adminmenu, #adminmenuwrap, .wp-ui-notification {
	background-color: $text;
	font-weight: 100 !important;
	color:#fff !important;
}
.wp-submenu, #wpadminbar, .update-plugins, #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus  {
	background-color: darken($text, 5%) !important;
	color: $text !important;
}
.update-plugins {
	background-color: $grey !important;

}
.wp-menu-open {
	background-color: darken($brand-primary, 10%) !important;
}
#collapse-button {
	color: #fff;
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	display: none;
}
.wp-menu-name {
	color: #fff !important;
}
.wp-ui-notification {
	background-color: $brand-primary !important;
}

.button-primary {
	border: none !important;
	box-shadow: none !important;
	border-radius: 50px !important;
	background-color: $secondary !important;
	text-shadow: none !important;
	padding: 0.25rem 1rem !important;
	height: auto !important;
	
	&:hover {
		background-color: darken($secondary, 10%) !important;
	
	}
}

