.top-bar {
	background-color: $lightgrey;
	width: 100%;
	padding: 0.5rem 0;
	.top-menu {
		display: flex;
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			&:not(:last-of-type){
				margin-right: 0.5rem;
			}
			a {
				color: $text;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.logo {
	width: calc(400px / 2);
	height: auto;
}

header {
	.header-cta {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			&:not(:last-child){
				margin-right: 1rem;
				@include MQ(S){
					display: none;
				}
			}
		}
	}
	.navbar-brand {
		padding: 0;
		margin: 0;
	}
}
.header-1 {
	.navbar {
		padding: 0rem 0rem;
	}
}
.header-2 {
	.left, .right, .center-panel {
		display: flex;
		float: left;
		min-height: 10vh;
		width: 33.33333%;
		align-items: center;
	}
	.center-panel {
		justify-content: center;
	}
	.right {
		justify-content: flex-end;
	}
	.navbar {
		width: 100%;
	}
	@include MQ(S){
		.left, .center-panel {
			width: 50%;
		}
		.center-panel {
			justify-content: flex-end;
			float: right;
		}
		.right {
			position: fixed;
			bottom: 0 !important;
			width: 100% !important;
			display: block !important;

		}

	}

}
