.top-bar, .nav-row, header, .usp-bar {
	width: 100%;
	float: left;
}

.top-bar {
	background-color: $lightgrey;
	padding: 0.5rem 0;
	padding-left: 15px;
	padding-right: 15px;
	.top-menu {
		display: flex;
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			&:not(:last-of-type){
				margin-right: 1rem;
			}
			a {
				color: $text;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.logo {
	width: calc(400px / 2);
	height: auto;
	@include MQ(S){
		width: calc(400px / 3);
	}
}
.nav-row {
	background-color: $grey;
	.navbar {
		a {
			color: $text !important;
			text-transform: uppercase;
			font-weight: 700;
			padding: 0.5rem 2rem !important;
		}
	}
}
.dropdown-menu {
	background-color: lighten($grey, 10%);
	li {
		a {
			padding: 0.5rem 3rem;
			&:hover {
				background: $brand-primary;
			}
		}
	}
}
header {
	.header-cta {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			&:not(:last-child){
				margin-right: 1rem;
				
			}
		}
	}
	.navbar-brand {
		padding: 0;
		margin: 0;
	}
}

.header-2 {

	.left, .right, .phone, .center-panel {
		display: flex;
		float: left;
		min-height: 10vh;

		align-items: center;
	}
	.left {
		padding-left: 15px;
		width: 20%;
	}
	.phone {
		width: 15%;
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 17.5%;
		.im-icon {
			margin-right: 0.5rem;
			color: $brand-primary;
		}

	}
	.center-panel {
		justify-content: center;
		width: 30%;
		margin-left: 2.5%;
		form {
			width: 100%;

		}
	}
	.right {
		justify-content: flex-end;
		padding-right: 15px;
		width: 15%;
		.im-icon {
			font-size: 2rem;
			&:hover {
				color: $brand-primary;
			}
		}
	}
	.navbar {
		width: 100%;

			

	}
	
	@include MQ(S){
		.left, .right {
			width: 50%;
		}
		.center-panel, .phone {
			display: none;
		}
		.right {
			.im-icon {
				font-size: 1.8rem;
			}
		}
	}

}

.usp-bar {
	
	background-color: $brand-primary;
	padding: 1rem 0;
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: stretch;
	}
	.usp {

		text-align: center;
		flex-grow: 1;
		color: #fff;
		i {
			margin-right: 1rem;
		}
		&:not(:last-of-type){
			border-right: 2px solid #fff;
		}
	}
	@include MQ(S){
		display: none;
	}
}
