header {
	.header-cta {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			&:not(:last-child){
				margin-right: 1rem;
				@include MQ(S){
					display: none;
				}
			}
		}
	}
	.navbar-brand {
		padding: 0;
		margin: 0;
	}
}
.header-2 {
	.left, .right {
		display: flex;
		float: left;
		min-height: 10vh;
		width: 50%;
		align-items: center;
	}
	.right {
		justify-content: flex-end;
	}
	.navbar {
		width: 100%;
	}

}
