.page-header {
	background-color: $brand-primary;
	color: #fff;
	padding: $smlspace;
}

// Content blocks

.fw-image {
	max-width: 100%;
	height: auto;
}

.panels, .hero, .latest-posts, .latest-cases, .testimonials {
	padding: $lgspace;
}

.panels {
	.col-md-3 {
		float: left;
	}
}

.extra {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.child {
		display: flex;
		min-height: 60vh;
		background-color: $grey;
		background-size: cover;
		
		align-items:center;
		justify-content:center;
		text-align: center;
		&:nth-child(odd){
			background-color: lighten($grey, 10%);
		}
		&:nth-child(even){
			background-color: lighten($grey, 14%);
		}
	}
	// Defined width panels
	.full {
		width: 100%;
	}
	.half {
		width: 50%;
	}
	.quarter {
		width: 25%;
	}
	.three-quarters {
		width: 75%;
	}
	.third {
		width: 33.3%;
	}
	.two-thirds {
		width: 66.6%;
	}
}

// MOBILE MEDIA QUERY
@include MQ(S){
	.child {
		width: 100% !important;
		min-height: 40vh !important;
	}
}