aside {
    .widget {
        background-color: $lightgrey;
        padding: 1rem;
        h3 {
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: 0.25rem 0;
                &:not(:last-child){
                    border-bottom: 1px solid $grey;
                }
            }
        }
        input {
            display: block;
            width: 100%;
            border-radius: 50px;
            padding: 0.25rem 1rem;
            margin-bottom: 0.25rem;
        }
        input[type='submit']{
            background-color: $brand-primary;
            color: #fff;
            margin-bottom: 0;
        }
    }
    @include MQ(S){
        float: right !important;
    }
}